@import "compass/reset"
@import "compass/css3"
/* ***Google fonts*** */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700)

body
  font-family: 'Roboto', sans-serif
  font-size: 26px
  color: rgba(36,37,38, .9)

.sticky
  background-color: rgba(255, 255, 255, 1)

header
  .navigation
    background-color: rgba(255, 255, 255, .8)
    position: fixed
    top: 0
    left: 0
    z-index: 20
    width: 100%
    -webkit-transition: all .5s linear
    -moz-transition: all .5s linear
    -ms-transition: all .5s linear
    -o-transition: all .5s linear
    transition: all .5s linear
    .logo-holder
      padding-top: 12px
      padding-bottom: 8px
      img
        max-width: 70%
    .nav-menu
      float: right
      ul
        padding-top: 20px
        li
          display: inline-block
          margin-right: 40px
          -webkit-transition: all .4s linear
          -moz-transition: all .4s linear
          -ms-transition: all .4s linear
          -o-transition: all .4s linear
          transition: all .4s linear
          &:last-child
            margin-right: 0
          &:hover
            padding-bottom: 8px
            border-bottom: 2px dashed #000

          a
            font-size: 20px
            color: rgba(36,37,38, .9)
  .navigation-sticky
    box-shadow: 0 2px 2px 0 gray
    background-color: rgba(255, 255, 255, 1)
.navigation-mini-holder
  z-index: 50
  position: fixed
  top: 20px
  right: 20px
  background: rgba(51, 51, 51, .95)
  width: 50px
  height: 50px
  cursor: pointer
  display: none
.navigation-mini
  margin-top: 11px
  position: relative
  .burger1, .burger2, .burger3
    width: 70%
    float: left
    height: 4px
    background: #fff
    margin-top: 4px
    margin-left: 15%
    -webkit-transform: rotate(-180deg)
    transform: rotate(-180deg)
    -moz-transform: rotate(-180deg)
    -o-transform: rotate(-180deg)
  .burger3
    -webkit-transform: rotate(180deg)
    transform: rotate(180deg)
    -moz-transform: rotate(180deg)
    -o-transform: rotate(180deg)
#home
  background: url("../img/home-bg.jpg")
  background-position: center center
  position: relative
  width: 100%
  height: 500px
.holder
  position: relative
  min-width: 320px
  width: auto
  margin: 0 auto
  top: 50%
.phone-holder
  position: absolute
  top: 35%
  left: 44%
  h3
    color: #FFFFFF
    text-shadow: 3px 3px 5px #000
.logo-home-holder
  position: absolute
  left: 40%
  img
    max-width: 100%
  h1
    float: right
    padding-top: 72px
    color: #FFFFFF
    text-transform: uppercase
    text-shadow: 3px 3px 4px #222
    margin-left: -17px

.go-bottom
  a
    text-align: center
    color: rgba(36,37,38, .9)
    font-size: 36px
    position: absolute
    width: 40px
    height: 40px
    left: 50.3%
    bottom: 2px
    margin-left: -25px
    margin-top: -20px
    i
      padding-top: 6px

#rent-hire
  background-color: #fff
  position: relative
  a
    position: absolute
    display: block
    width: 50%
    height: 100%
    z-index: 2
  h2
    font-size: 40px
    padding-top: 22%
    padding-bottom: 22%
  .rent-hire-left
    overflow: hidden
    text-align: center
    float: left
    width: 50%
    height: 100%
    background-image: url("../img/rent-bg-top.jpg")
    -webkit-transition: background-image 1s ease
    -moz-transition: background-image 1s ease
    -ms-transition: background-image 1s ease
    -o-transition: background-image 1s ease
    transition: background-image 1s ease
    -webkit-background-size: cover
    background-size: cover
    &:hover
      background-image: url("../img/rent-hire-left-bg.jpg")
      -webkit-background-size: cover
      background-size: cover
      background-position: center center
      width: 50%
      height: 100%
  .rent-hire-right
    text-align: center
    float: right
    width: 50%
    background-image: url("../img/hire-bg-top.jpg")
    -webkit-transition: background-image 1s ease
    -moz-transition: background-image 1s ease
    -ms-transition: background-image 1s ease
    -o-transition: background-image 1s ease
    transition: background-image 1s ease
    -webkit-background-size: cover
    background-size: cover
    &:hover
      background-image: url("../img/rent-hire-right-bg.jpg")
      background-repeat: no-repeat
      -webkit-background-size: cover
      background-size: cover
      background-position: center center

#about-us
  background: url("../img/about-us-bg.jpg")

.section-title
  font-size: 60px
  text-align: center
  h2
    padding-top: 65px
    padding-bottom: 20px

.section-content
  font-size: 30px
  padding-bottom: 5%
  img
    max-width: 100%
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
  p
    margin-top: 20px
    font-size: 22px
    text-align: center
    line-height: 40px

#rent
  background: url("../img/rent-bg.jpg")
.rent-left
  margin-bottom: 20px
  ul
    display: inline-block
    list-style: disc
    li
      padding-top: 100%
.rent-left-title
  padding-top: 25%


.rent-contact-form-holder, .hire-contact-form-holder
  padding-top: 65px
  max-width: 600px
#rent-contact-form
  float: left
#hire-contact-form
  float: left
#rent-contact-form, #hire-contact-form
  width: 100%
  margin-bottom: 5%
  label
    display: inline-block
    width: 37%
    text-align: right
  input, select, textarea
    width: 50%
    margin-top: 20px
    border: 1px solid #ccc
    box-shadow: inset 0 1px 3px #ddd
  textarea
    resize: none
  input[name='rent-name'], input[name='hire-name']
    margin-right: 30px
  input[name='rent-phone'], input[name='rent-type'], input[name='rent-price'], input[name='hire-phone'], input[name='hire-type'], input[name='hire-price'], input[name='hire-district']
    display: inline-block
  .button
    margin-top: 40px
    float: right
    margin-right: 14%
.button
  padding: 8px 10px

#services1
  background: url("../img/services1-bg.jpg")

.services
  ul
    text-align: center
    margin-bottom: 36px
    li
      display: inline-block
      margin-right: 150px
      &:last-child
        margin-right: 0

#hire
  background: url("../img/hire-bg.jpg")
  .hire-right
    margin-bottom: 20px
    ul
      display: inline-block
      list-style: disc
      li
        padding-top: 100%
.hire-right-title
  padding-top: 25%

#services2
  background: url("../img/services1-bg.jpg")

#why-us
  background: url("../img/advances-bg.jpg")
  text-align: center

#subscribe
  background: url("../img/subscribe.jpg")
  text-align: center
  .subscribe-form-holder
    margin-top: 10px
  .subscribe-form
    padding-top: 20px
    padding-bottom: 20px
    input
      margin-right: 50px

#info
  background: url("../img/advances-bg.jpg")
  .expand
    cursor: pointer
    @include animation(bounce 2s infinite)
  .expand-content
    display: none
    p
      text-align: left
      text-shadow: 1px 2px 24px #F5F5F5
      margin-top: 0
    h4
      margin-top: 15px
      margin-bottom: 15px
      text-align: left
    strong
      font-weight: bold
    span
      font-style: italic
@include keyframes(bounce)
  0%, 20%, 50%, 80%, 100%
    @include transform(translateY(0))
  40%
    @include transform(translateY(-15px))
  60%
    @include transform(translateY(-10px))

#contacts
  background: url("../img/contacts-bg.jpg")

.contactsform
  text-align: center
  input[type='text']
    display: block
    width: 50%
    margin: 20px auto
  textarea
    display: block
    width: 50%
    height: 10%
    margin: 20px auto
    resize: none

a.amailto
  color: rgba(36, 37, 38, .9)
  text-decoration: underline
footer
  background-color: #dddddd
  h6
    margin-top: 10px
    margin-bottom: 10px
    font-size: 13px
  .socials
    float: right
    margin-top: 10px
    margin-bottom: 10px
    li
      display: inline-block
      a
        color: rgba(36,37,38, .9)
        &:hover
          color: #869791

#message1, #message2, #message3, #message4
  font-size: 18px
  text-align: center
  color: rgba(36,37,38, .9)
.no-padding
  padding-right: 0
  padding-left: 0

@import "media"